*.dvi
*.pdf
*.log
*.aux
*.swp
*.pyc
*~
*.pyc
\#*
*b\#?
*s\#?
*l\#?
*~
*log.txt
*gtron.txt
*gtron.log
.\#*
.egg-info
BlocksToCpp/testOutputs/
GCGF/Output/*/
BlocksToCpp/cCode/*
BlocksToCpp/cCode.c
Blockly/BlocksToCpp/
Blockly/appengine/BlocksToCpp/
