*.dvi
*.pdf
*.log
*.aux
*.swp
*.pyc
*~
*.pyc
\#*
*b\#?
*s\#?
*l\#?
*~
*log.txt
*gtron.txt
*gtron.log
.\#*
.egg-info
BlocksToCpp/testOutputs/
GCGF/Output/*/
GCGF/IDEGenerator/*
GCGF/InoGenerator/*
BlocksToCpp/cCode/*
BlocksToCpp/cCode.c
BlocksToCpp/a.out
BlocksToCpp/testsForOutputCCode/
Blockly/BlocksToCpp/
Server/appengine/BlocksToCpp/
Server/appengine/InoGenerator/
Server/appengine/static/
Server/appengine/testfile*
Server/appengine/programs*
Server/appengine/COMPILEDPROG
Server/appengine/*.xml
Server/appengine/*.jinja
Server/appengine/WorkspaceRenderer.py
Server/appengine/arduPi/*/
Server/appengine/arduPi/*.ino
*.o
*.cs
InoComposer/InoGenerator/
InoComposer/BlocksToCpp/
programs/*

TAZI_ENV/*