<head>
	<title>TAZI - A blockly extention for Gadgetron</title>
	<script src="{{resDir}}blockly_compressed.js"></script>
	<script src="{{resDir}}blocks_compressed.js"></script>
	<script src="{{resDir}}custom_blocks.js"></script>
	<script src="{{resDir}}msg/js/en.js"></script>
	<script type="text/javascript">
	{% for block in blocklist %}
		var {{block[0]}} = {{block[1]}};
	{% endfor %}
	{% for block in blocklist %}
		Blockly.Blocks['{{block[0]}}'] = {
		init: function() {
			this.jsonInit({{block[0]}});
		}
	};
	{% endfor %}
	</script>
	
	<style>
	.outer {
		background-color: #009933;
		padding: 5px;
	}
	h1 {color:blue;}
	</style>
	
</head>
<body>
    <script src="{{resDir}}BlocksIO.js"></script>
	<div width="100%" height="100%">
	
	<div class = "outer", style="width:20%; height:10%; float:left;">
		<img src="{{resDir}}GtronImage.png" alt="Gtron Logo" style="width:150px;height:50px;">		
	</div>
	
	<div class = "outer", style = "margin-left:20%; width: 70%; height: 10%">
		<h1> TAZI </h1>
	</div>
	
	<div id="blocklyDiv" style="height: 80%; width: 90%;"></div>
		{{toolbox}}
	</div>
	<script>
  		var workspace = Blockly.inject('blocklyDiv',
      		{toolbox: document.getElementById('toolbox')});
	</script>
	<button onclick="console.log(Blockly.Xml.workspaceToDom(Blockly.getMainWorkspace()))">Dump XML</button>
</body>
