<html ng-app="dialogDemo1">
    <head>
        <!-- Angular -->
	<!-- TODO: Jinjafy static dir -->
        <script src="static/angular/angular.js"></script>
	<script src="static/angular-material/angular-material.min.js"></script>
	<script src="static/angular-aria/angular-aria.min.js"></script>
	<script src="static/angular-animate/angular-animate.min.js"></script>
	<script src="static/angular/test.js"></script>
	<link href="static/angular-material/angular-material.min.css" rel="stylesheet" />
	<!-- JQuery -->
	<script src="static/jquery-2.2.1.min.js"></script>
    </head>
    <body >
        <div ng-controller="AppCtrl" id="popupContainer">
	    <h1>{{name}}'s Control Panel</h1>
	    <ul>
	        {% for prog in programs %}
		    <a href="/programs/{{prog}}">
		        <li>{{prog}}</li>
		    </a>
	        {% endfor %}
	    </ul>
            <md-button class="md-primary md-raised" ng-click="showNewProgramDialog($event)">
	       Create a new Program
	    </md-button>
	</div>
    </body>

</html>
