%- macro class_name(n)
%- if n.node_type == "selector_node": 
SelectorNode  
%- elif n.node_type == "sequence_node": 
SequenceNode	
%- elif n.node_type == "parallel_node": 
ParallelNode
%- elif n.node_type == "action_node": 
ActionNode
%- elif n.node_type == "condition_node": 
ConditionNode
%- elif n.node_type == "root_node": 
RootNode
%- endif
%- endmacro


%- macro constructor_input(n)
%- if n.function and (n.node_type == "action_node" or n.node_type == "condition_node")
{{n.function}}
%- else
new BehaviorNode[] {
%- endif
{{n.children}}
%- if n.children_array
}
%- endif
%- endmacro
using UnityEngine;

public abstract class {{name}}BehaviorTree : BehaviorTree
{
	[Header("Nodes within Tree")]
	% for n in nodes 
	%if n.node_type != "root_node"
	protected {{class_name(n)}} {{n.name}};
	% endif
	% endfor

	% for n in nodes if n.node_type == "action_node"
	protected abstract BehaviorNode.State {{n.function}}();
	% endfor

	% for n in nodes if n.node_type == "condition_node"
	protected abstract bool {{n.function}}();
	% endfor

	protected override void OnEnable()
	{
	% for n in nodes
		{{ n.name}} = new {{ class_name(n)}} ({{ constructor_input(n)}});
	% endfor
		base.OnEnable();
	}
}