digraph G {
    ordering=out;
 % for edge in edges
    {{edge}};
 % endfor
 % for node in nodes
    % if node.node_type == "action_node" 
    {{node.name}} [shape="polygon", sides=4, fillcolor="green", style="filled", label="{{node.function}}"];
    % elif node.node_type == "condition_node"
    {{node.name}} [fillcolor="yellow", style="filled", label="{{node.function}}"];
    % else
    {{node.name}} [shape="polygon",sides=4,label="{{node.label}}"];
    % endif
 % endfor
 }
