<head>
	<title>TAZI - A blockly extention for Gadgetron</title>
	<script src="{{blockly}}blockly_compressed.js"></script>
	<script src="{{blockly}}/blocks/blocks_compressed.js"></script>
	<script src="{{blockly}}/blocks/custom_blocks.js"></script>
	<script src="{{blockly}}msg/js/en.js"></script>
	<script src="{{resDir}}lib/jquery-2.2.1.min.js"></script>
	<script src="{{blockly}}requests.js"></script>
	<script type="text/javascript">
	
		var $led1$toggle$0 = {"colour": "360", "nextStatement": null, "tooltip": "", "message0": "LED #1 toggle %1", "previousStatement": null, "args0": [{"type": "input_dummy"}], "helpUrl": "gadgetron.build", "id": "$led1$toggle"};
	
		var $led1$turnOn$1 = {"colour": "360", "nextStatement": null, "tooltip": "", "message0": "LED #1 turn on %1", "previousStatement": null, "args0": [{"type": "input_dummy"}], "helpUrl": "gadgetron.build", "id": "$led1$turnOn"};
	
		var $led1$turnOff$2 = {"colour": "360", "nextStatement": null, "tooltip": "", "message0": "LED #1 turn off %1", "previousStatement": null, "args0": [{"type": "input_dummy"}], "helpUrl": "gadgetron.build", "id": "$led1$turnOff"};
	
	
		Blockly.Blocks['$led1$toggle$0'] = {
		init: function() {
			this.jsonInit($led1$toggle$0);
		}
	};
	
		Blockly.Blocks['$led1$turnOn$1'] = {
		init: function() {
			this.jsonInit($led1$turnOn$1);
		}
	};
	
		Blockly.Blocks['$led1$turnOff$2'] = {
		init: function() {
			this.jsonInit($led1$turnOff$2);
		}
	};
	
	</script>
	
	<!--style>
	.outer {
		background-color: #009933;
		padding: 5px;
	}
	h1 {color:blue;}
	</style-->
	
</head>
<body>
	<div width="100%" height="100%">
	
	<div class = "outer", style="width:20%; height:10%; float:left;">
		<img src="{{resDir}}media/GtronImage.png" alt="Gtron Logo" style="width:auto;height:auto;">		
	</div>
	
	<div class = "outer", style = "margin-left:20%; width: 70%; height: 10%">
		<h1 font-family="sans-serif"> TAZI - A Blockly Programming Environment for Robots</h1>
	</div>
	
	<div id="blocklyDiv" style="height: 85%; width: 100%;"></div>
		<xml id="toolbox" style="display: none"><category custom="VARIABLE" name="Variables"> </category>
   <category custom="PROCEDURE" name="Functions"> </category>

  
  <category colour="210" id="arduino" name="Time Control">
      <block type="delay"> </block>
      <block type="millis"> </block>
      <block type="c_main"> </block>
  </category>
   <category colour="210" id="catLogic" name="Logic">
      <block type="controls_if"> </block>
      <block type="logic_compare"> </block>
      <block type="logic_operation"> </block>
      <block type="logic_negate"> </block>
      <block type="logic_boolean"> </block>
      <block type="logic_null"> </block>
    </category>

    <category colour="120" id="catLoops" name="Loops">
      <block type="controls_repeat_ext"> <value name="TIMES">
          <shadow type="math_number">
            <field name="NUM">10</field>
          </shadow>
        </value>
      </block>
      <block type="controls_whileUntil"> </block>
      <block type="controls_for">
        <value name="FROM">
          <shadow type="math_number">
            <field name="NUM">1</field>
          </shadow>
        </value>
        <value name="TO">
          <shadow type="math_number">
            <field name="NUM">10</field>
          </shadow>
        </value>
        <value name="BY">
          <shadow type="math_number">
            <field name="NUM">1</field>
          </shadow>
        </value>
      </block>
      
      <block type="controls_flow_statements"> </block>
    </category>

    <category colour="230" id="catMath" name="Math">
      <block type="math_number"> </block>
      <block type="math_arithmetic">
        <value name="A">
          <shadow type="math_number">
            <field name="NUM">1</field>
          </shadow>
        </value>
        <value name="B">
          <shadow type="math_number">
            <field name="NUM">1</field>
          </shadow>
        </value>
      </block>
      <block type="math_single">
        <value name="NUM">
          <shadow type="math_number">
            <field name="NUM">9</field>
          </shadow>
        </value>
      </block>
      
      <block type="math_constant"> </block>
      
      
      <block type="math_modulo">
        <value name="DIVIDEND">
          <shadow type="math_number">
            <field name="NUM">64</field>
          </shadow>
        </value>
        <value name="DIVISOR">
          <shadow type="math_number">
            <field name="NUM">10</field>
          </shadow>
        </value>
      </block>
      
      <block type="math_random_int">
        <value name="FROM">
          <shadow type="math_number">
            <field name="NUM">1</field>
          </shadow>
        </value>
        <value name="TO">
          <shadow type="math_number">
            <field name="NUM">100</field>
          </shadow>
        </value>
      </block>
      <block type="math_random_float"> </block>
    </category>

    <category colour="160" id="catText" name="Text">
      <block type="text"> </block>
      
      <block type="text_print">
        <value name="TEXT">
          <shadow type="text">
            <field name="TEXT">abc</field>
          </shadow>
        </value>
      </block>
      
    </category>

  
  <sep> </sep>
<category colour="360" name="LED #1"><block type="$led1$toggle$0"> </block><block type="$led1$turnOn$1"> </block><block type="$led1$turnOff$2"> </block></category></xml>
	</div>
	<script>
  		var workspace = Blockly.inject('blocklyDiv',
      		{toolbox: document.getElementById('toolbox')});
	</script>
	<button onclick="console.log(getXML())">Dump XML</button>
	<!--button>Save Program</button-->
	<button onclick="testPost()">Compile</button>
    <input type="file" id="xmlinput" />
    <script src="{{blockly}}blocksIO.js"></script>
    <script>
        window.onload = function() { 
            var defaultBlocks = "{{defaultBlocks}}";
            loadXML( defaultBlocks );	
        };
    </script>
</body>
