<html ng-app="Tazi">
   <head>
      <title>TAZI - A blockly extention for Gadgetron</title>
      <!-- JQuery -->
      <script src="{{resDir}}lib/jquery-2.2.1.min.js"></script>
      <!-- Blockly -->
      <script src="{{blockly}}blockly_compressed.js"></script>
      <script src="{{blockly}}/blocks_compressed.js"></script>
      <script src="{{blockly}}/blocks/custom_blocks.js"></script>
      <script src="{{blockly}}/blocks/blockly_behavior_nodes.js"></script>
	  <script src="{{blockly}}/blocks/blockly_state_machine.js"</script>
      <script src="{{blockly}}msg/js/en.js"></script>
      <script src="{{blockly}}requests.js"></script>
      <!-- Angular -->
      <script src="{{resDir}}lib/angular/angular.min.js"></script>
      <script src="{{resDir}}lib/angular-material/angular-material.min.js"></script>
      <script src="{{resDir}}lib/angular-aria/angular-aria.min.js"></script>
      <script src="{{resDir}}lib/angular-animate/angular-animate.min.js"></script>
      <link href="{{resDir}}lib/angular-material/angular-material.min.css" rel="stylesheet" />
      {% include 'javascript_block_definitions.js' %}
      <script src="{{resDir}}controllers/IDEController.js"></script>
      <link rel="stylesheet" type="text/css" ng-href="{{resDir}}css/style.css"/>
      
   </head>
   <body>
      
      <div width="100%" height="100%" ng-controller="AppCtrl">
         <md-content>
	    <md-toolbar layout="row" layout-padding>
                <h1 class="md-display-1"> TAZI - A Blockly Programming Environment for Robots</h1>
		<span flex> </span>
		<a href="/">
                <img src="{{resDir}}media/GtronImage.png" alt="Gtron Logo" style="width:auto;height:auto;">		
		</a>
	    </md-toolbar>
         </md-content>
         <div id="blocklyDiv" style="height: 75%; width: 100%;"></div>
	 <!-- Buttons -->
	 <div>
             <md-button class="md-primary md-raised" ng-click="sendCompilePost()">Run</md-button>
             <md-button class="md-primary md-raised" ng-click="sendKillPost()">Stop</md-button>
             <md-button class="md-primary md-raised" ng-click="sendSavePost()">Save</md-button>
             <md-button class="md-primary md-raised" ng-click="loadFunc()">Load</md-button>
             <input id="hidden_button" type='file'  accept='xml' onchange='openFile(event)'><br>
	 </div>
     {% include 'DefaultCategories.xml' %}
      </div>
      <script>
         var workspace = Blockly.inject('blocklyDiv',
           		{toolbox: document.getElementById('toolbox'),
			 //scrollbars: false,
			 zoom: {
			   controls: true,
			   wheel: true,
			   maxScale: 1,
			 }
			});
      </script>
         <!--md-button class="md-primary md-raised">Test Button</md-button-->
         <!--button onclick="console.log(getXML())">Dump XML</button-->
         <!--button>Save Program</button-->
         <!--button onclick="testPost()">Compile</button>
            <button onclick="sendKillSignal()">Kill</button-->
      <script src="{{blockly}}blocksIO.js"></script>
      <script>
         window.onload = function() { 
             var defaultBlocks = "{{defaultBlocks}}";
             loadXML( defaultBlocks );	
         };
        var openFile = function(event) {
        var input = event.target;

        var reader = new FileReader();
        reader.onload = function(){
          var text = reader.result;
          console.log(reader.result.substring(0, 200));
          loadXML(text);
        };
        reader.readAsText(input.files[0]);
      };
    </script>
   </body>
</html>
